<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-with" />
    <title>@ViewData["Title"] - MotoGP</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>